.flight-trajectory-plot {
    background-color: #f0f4ff;
}

.hover-info-wrapper {
    pointer-events: none;
}

.hover-info {
    background: #416382cf;
    color: #efefef;
    padding: 0.4rem;
    position: absolute;
    bottom: 1rem;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    width: max-content;
}

.hover-info-entry {
    display: block;
}

.plot-controls-wrapper {
    transform: none !important;
}
